 /* Estilos para los nombres */
 {
    background-color: lightblue;
    }
    /* Estilos para los departamentos */
    {
    color: red;
    }
    /* Estilos para los géneros de los cargos */
    {
    font-style: italic;
    }